Exploratory Data Analysis Project

### Goal: Find a multivariate linear regression model with R^2 between 0.7 and 0.9 to predict house prices
* Data Science Lifecycle integrieren f√ºr versch. Steps

## Identification of variables and data types

* table with variables and short description
* differentiate between categorical and numerical variables
* identify target and predictor variables
* import all libraries, load dataset, use e.g. .info, .dtypes, .shape, .describe()

Object `%remove` not found.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
%matplotlib inline
pd.options.display.max_columns = None

In [2]:
df_var = pd.DataFrame({'Variables': ['id', 'dateDate', 'pricePrice', 'bedroomsNumber', 'bathroomsNumber', 'sqft_livingsquare', 'sqft_lotsquare', 'floorsTotal', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'],
                    'Description': ['unique identified for a house', 'house was sold', 'is prediction target', 'of Bedrooms/House', 'of bathrooms/bedrooms', 'footage of the home', 'footage of the lot', 'floors (levels) in house', 'House which has a view to a waterfront', 'Has been viewed', 'How good the condition is ( Overall )', 'overall grade given to the housing unit, based on King County grading system', ' square footage of house apart from basement', 'square footage of the basement', 'Built Year', 'Year when house was renovated', 'zip', 'Latitude coordinate', 'Longitude coordinate', 'The square footage of interior housing living space for the nearest 15 neighbors', 'The square footage of the land lots of the nearest 15 neighbors']},
                     index=[i for i in range(21)])
df_var

            Variables                                        Description
0                  id                      unique identified for a house
1            dateDate                                     house was sold
2          pricePrice                               is prediction target
3      bedroomsNumber                                  of Bedrooms/House
4     bathroomsNumber                              of bathrooms/bedrooms
5   sqft_livingsquare                                footage of the home
6      sqft_lotsquare                                 footage of the lot
7         floorsTotal                           floors (levels) in house
8          waterfront             House which has a view to a waterfront
9                view                                    Has been viewed
10          condition              How good the condition is ( Overall )
11              grade  overall grade given to the housing unit, based...
12         sqft_above        square footage of house apart from basement
13      sqft_basement                     square footage of the basement
14           yr_built                                         Built Year
15       yr_renovated                      Year when house was renovated
16            zipcode                                                zip
17                lat                                Latitude coordinate
18               long                               Longitude coordinate
19      sqft_living15  The square footage of interior housing living ...
20         sqft_lot15  The square footage of the land lots of the nea...

In [3]:
df = pd.read_csv('King_County_House_prices_dataset.csv')
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,3,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,3,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,3,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,0.0,0.0,3,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,0.0,0.0,3,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [4]:
df.shape

(21597, 21)

In [5]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront       float64
view             float64
condition          int64
grade              int64
sqft_above         int64
sqft_basement     object
yr_built           int64
yr_renovated     float64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Default: only sgft_basement is object type - should be changed to int64

To check: waterfront, view, condition, grade, sqft_basement if categorical variables

## Non-Graphical Univariate Analysis
* use value_counts(), nunique(), unique() to show unique values
* filter tables to gain more insight if necessary
* treat null values: pandas has a isnull() method (e.g. train.apply(lambda x: sum(x.isnull()),axis=0) ) or data.isnull().sum()
* drop values not needed: data.dropna(subset = ['price'], axis = 0, inplace = True)
* convert data types with astype() and to_datetime() or use .str.replace(' ', '...', inplace=True) method

In [6]:
df.describe().round(2)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,21597.00,21597.00,21597.00,21597.00,21597.00,21597.00,19221.00,21534.00,21597.00,21597.00,21597.00,21597.00,17755.00,21597.00,21597.00,21597.00,21597.00,21597.00
mean,4.580474e+09,540296.57,3.37,2.12,2080.32,15099.41,1.49,0.01,0.23,3.41,7.66,1788.60,1971.00,83.64,98077.95,47.56,-122.21,1986.62,12758.28
std,2.876736e+09,367368.14,0.93,0.77,918.11,41412.64,0.54,0.09,0.77,0.65,1.17,827.76,29.38,399.95,53.51,0.14,0.14,685.23,27274.44
min,1.000102e+06,78000.00,1.00,0.50,370.00,520.00,1.00,0.00,0.00,1.00,3.00,370.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2.123049e+09,322000.00,3.00,1.75,1430.00,5040.00,1.00,0.00,0.00,3.00,7.00,1190.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3.904930e+09,450000.00,3.00,2.25,1910.00,7618.00,1.50,0.00,0.00,3.00,7.00,1560.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7.308900e+09,645000.00,4.00,2.50,2550.00,10685.00,2.00,0.00,0.00,4.00,8.00,2210.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9.900000e+09,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,1.00,4.00,5.00,13.00,9410.00,2015.00,2015.00,98199.00,47.78,-121.32,6210.00,871200.00

In [7]:
df.nunique()

id               21420
date               372
price             3622
bedrooms            12
bathrooms           29
sqft_living       1034
sqft_lot          9776
floors               6
waterfront           2
view                 5
condition            5
grade               11
sqft_above         942
sqft_basement      304
yr_built           116
yr_renovated        70
zipcode             70
lat               5033
long               751
sqft_living15      777
sqft_lot15        8682
dtype: int64

categorical variables might be: waterfront, view, condition, grade

In [8]:
df.waterfront.unique()

array([nan,  0.,  1.])

waterfront to int64 after cleaning

0 = not been viewed, 1 = has been viewed ???

In [9]:
sorted(df.condition.unique())

[1, 2, 3, 4, 5]

In [37]:
sorted(df.grade.unique())

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

#### Changing data types

In [10]:
df['date'] = pd.to_datetime(df['date'])
df['date'].head()

0   2014-10-13
1   2014-12-09
2   2015-02-25
3   2014-12-09
4   2015-02-18
Name: date, dtype: datetime64[ns]

In [11]:
df['sqft_basement'] = pd.to_numeric(df.sqft_basement, errors='coerce').fillna(0)

In [13]:
df['sqft_basement'].value_counts().head()

0.0      13280
600.0      217
500.0      209
700.0      208
800.0      201
Name: sqft_basement, dtype: int64

In [59]:
df.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

missing values in: waterfront, view, yr_renovated

In [14]:
df['yr_renovated'].value_counts().head()

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
Name: yr_renovated, dtype: int64

In [15]:
df['yr_renovated'] = df['yr_renovated'].fillna(0)

In [16]:
df['yr_renovated'].value_counts().head()

0.0       20853
2014.0       73
2003.0       31
2013.0       31
2007.0       30
Name: yr_renovated, dtype: int64

nan, and 0 indicating missing values

In [17]:
df['view'].value_counts()

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

In [18]:
df['view'] = df['view'].fillna(0)

In [19]:
df['waterfront'].value_counts()

0.0    19075
1.0      146
Name: waterfront, dtype: int64

In [20]:
df['waterfront'] = df['waterfront'].fillna(0)

## Graphical Univariate Analysis
* histogram to see if there is skewness and outliers (e.g. .hist() )
* boxplots to get quartiles and outliers, max and min values (e.g. print(train.boxplot(column='disbursed_amount', by='Employment_state)) 
* countplots used for categorical values (e.g. sns.countplot(train.loan_default)
* https://towardsdatascience.com/reverse-geocoding-in-python-a915acf29eb6

In [21]:
## Non-Graphical Multivariate Analysis

In [ ]:
## Graphical Multivariate Analysis

In [ ]:
## Variable transformations

In [ ]:
## Missing value treatment

In [ ]:
## Outlier treatment

## Correlation Analysis
* data[[var1, var2, var3]].corr() or entire dataset identifying correlation coefficients
* use sns.regplot(x = 'engine-size', y = 'price', data = data)      plt.ylim(0, ) to see scatterplot and regression line
* visualize correlations with seaborn heatmap

In [ ]:
## Dimensionality Reduction

## Result 
Come up with at least 3 recommendations for house sellers and/or buyers in King County